{% extends 'base.html.twig' %}

{% block title %}New Memo{% endblock %}

{% block body %}
<div class="container">

    <h1 class="mt-5">Nouveau Memo</h1>

    {{ include('memo/_form.html.twig') }}

</div>


    
{% endblock %}
